#mySection{
    height: 100vh;
    position: relative;
}
.hero-slider1{
    background-image: url("../../public/bannerhero.jpg");
    background-position: contain;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
  
}
.hero-slider2{
    background-image: url("../../public/branding-banner.jpg");
    background-position: contain;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
   
  
}
.hero-slider3{
    background-image: url("../../public/mobile-banner.jpg");
    background-position: contain;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.hero-slider4{
  background-image: url("../../public/bannerhero.jpg");
  background-position: contain;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  

}
.hero-slider5{
  background-image: url("../../public/branding-banner.jpg");
  background-position: contain;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
 

}
.hero-slider6{
  background-image: url("../../public/mobile-banner.jpg");
  background-position: contain;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

swiper-container {
    width: 70%;
    height: 55%;
    position: absolute;
    top: 20%;
    left: 1%;

  
  }

swiper-slide {
    width: 100%;
    height: 50%;
    padding-top: 20px ;
    padding-bottom: 20px;
    
  }

  swiper-slide h1{
    font-size: 4.7rem;
    font-weight: 700;
   
  
  }
  .swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.3;
  transition: opacity 0.5s ease-in-out;
}
.swiper-slide-active {
    opacity: 1;
    padding-left: 120px;
  }

  /* ////////////////////////-------------socail media icon ------------------////////////////////// */
.social-media-box{
  display: flex;
  flex-direction: row;
  z-index: 30;
  position: absolute;
  top: 50%;
  right: 8%;
}
.social-icon{
  background-color: #48485B;
  padding: 12px;
  border-radius: 30px;
  margin-left: 10px;
}
  
.play-btn{
  position: absolute;
  z-index: 20;
  bottom: 10%;
  right: 5%;
  cursor: pointer;
}
.line{
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
 
}
.line-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
}
.pagination-line{
  width: 1px;
  height: 200px;
  background: radial-gradient(#000, #fff);
  z-index: 200;
  position: absolute;
 
  
  
}
.pagination-dot{
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 30px;
  z-index: 100;
  position: absolute;

 
  
 
}

@media screen and (max-width: 768px) {
  swiper-slide h1{
    font-size: 2rem;
  }
  swiper-container{
        width: 100%;
        height: 50%;
  }
  .social-media-box{
    top:100%;
 
    background-color: #fff;
    width: 100%;
    left:0%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2;
    padding: 20px 0px;
  }
  .hero-slider1
  .hero-slider2
  .hero-slider3
  .hero-slider4
  .hero-slider5
  .hero-slider6{

    background-position:left center;
  }

  
}
.swiper-button-next{
  color: #000;
}

